# Node modules
**/node_modules/

#environment files
.env
.env.*

# Logs
logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Environment
.env
.env.*

# Build outputs
dist/
build/
*.local

# IDE
.vscode/
.idea/

# Python
*.pyc
__pycache__/
.venv/
*.sqlite3

# Frontend coverage
coverage/
frontend/.env
frontend/dist/
frontend/node_modules/
node_modules/
venv/

#backend
backend/*.sqlite3
backend/.env
backend/__pycache__/
backend/instance/
build/
dist/
